/* Palette URL: http://paletton.com/#uid=43v0u0kj4uP9aOkewDhm+reqMmB */

.color-primary-0 { color: #457A9D }
.color-primary-1 { color: #A0C3DB }
.color-primary-2 { color: #6B9BBB }
.color-primary-3 { color: #2D668B }
.color-primary-4 { color: #194F73 }

.color-secondary-1-0 { color: #F6CF63 }
.color-secondary-1-1 { color: #FFECB6 }
.color-secondary-1-2 { color: #FFE18B }
.color-secondary-1-3 { color: #D9B03D }
.color-secondary-1-4 { color: #B48D1D }

.color-secondary-2-0 { color: #F68963 }
.color-secondary-2-1 { color: #FFC9B6 }
.color-secondary-2-2 { color: #FFA98B }
.color-secondary-2-3 { color: #D9653D }
.color-secondary-2-4 { color: #B4441D }

.color-complement-0 { color: #F6B563 }
.color-complement-1 { color: #FFDFB6 }
.color-complement-2 { color: #FFCC8B }
.color-complement-3 { color: #D9943D }
.color-complement-4 { color: #B4711D }
